html{
    background-color: rgb(234, 234, 234);
}
#main_header{
    font-size: 46px;
    text-align: center;
}

#top_header_body{
    text-align: center;
}

#upcoming_events_section{
    -webkit-box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.4); 
box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.4);
    background-color: rgba(21, 87, 255, 0.805);
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 10px 0 10px 0px;
    border-radius: 10px;
}

#upcoming_events_section h2{
    color: white;
    font-size: 30px;
}

