{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="{% static 'css/create_event_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <h1 id="main_header">Create An Event</h1>
        <h1 id="top_header_body">Enter Event Information</h1>
        <div id="event_form_section">
            <form method="post" action="/createEvent/">
                <button type="submit", name="save">Create New Event</button>
            </form>
        </div>
    </body>
</html>