html{
    background-color: rgb(234, 234, 234);
}
#main_header{
    font-size: 46px;
    text-align: center;
}

#top_header_body{
    text-align: center;
    border-top: 5px solid rgba(21, 21, 255, 0.874);
}

#events_section{
    background-color: rgba(21, 21, 255, 0.874);
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 10px 0 10px 0px;
    border-radius: 10px;
}

#events_section h2{
    color: white;
    font-size: 30px;
}

