{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="event_finder_base.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    </head>
    <body>
        <h1 id="main_header">Community Event Finder</h1>
        <h1 id="top_header_body">Welcome to the Community Event Finder Home-Page</h1>
        <button href="event_search_page.html" type="button" class="btn btn-primary">View All Events</button>
        <div id="upcoming_events_section">
            <h2>Upcoming Events</h2>
        </div>
    </body>
</html>