{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="../static/css/event_finder_base.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <script src="../static/js/bootstrap.bundle.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url 'homepage' %}">Community Event Finder</a>
            <a class="nav-item custom-nav-item" id="active-nav-item" href="{% url 'homepage' %}">Home</a>
            <a class="nav-item custom-nav-item" href="{% url 'searchpage' %}">Event Search</a>
            {% if user %}
                <a class="nav-item custom-nav-item" href="{% url 'profilepage' %}">Profile</a>
                <a class="nav-item custom-nav-item">{{user}}</a>
                <a class="nav-item custom-nav-item" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <div>
        <div class = "banner">
            <h2> Community Event Manager </h2>
            <h3> Log In</h3>
        </div>
    {% block content %}
        <table>
            <form method = "post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Log In">
            </form>
        </table>
        
    {% endblock %}
    </div>
</body>
</html>